// Fonts
@import "fonts.scss";
// Core
@import "variables.scss";
@import "mixins.scss";
@import "../css/fontawesome.css";

img {
  max-width: 100%;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: $font_family;
  font-weight: $font_weight_normal;
  min-height: 100vh;
  text-align: left;
}
html {
  background: $blue;
  box-sizing: border-box;
  font-size: 20px;

  @media (max-width: $mobile_p) {
    font-size: 16px;
  }
  @media (min-width: $mobile_p+1) and (max-width: $mobile_l) {
    font-size: 16px;
  }
  @media (min-width: $mobile_l+1) and (max-width: $tablets) {
    font-size: 14px;
  }
  @media (min-width: $tablets+1) and (max-width: $desctops_s) {
    font-size: 14px;
  }
  @media (min-width: $desctops_s+1) and (max-width: $desctops_m) {
    font-size: 16px;
  }
  @media (min-width: $desctops_m+1) and (max-width: $desctops_l) {
    font-size: 20px;
  }
  @media (min-width: $desctops_l+1) {
    font-size: 20px;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $black;
  font-size: 0.6rem;
  font-family: $font_family, monospace, "Roboto", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $black;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
:focus {
  outline-style: none !important;
  outline-width: 0px !important;
  outline-color: none !important;
}
:active {
  outline-style: none !important;
  outline-width: 0px !important;
  outline-color: none !important;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
h2 {
  @media (max-width: $mobile_l) {
    font-size: 2rem !important;
    line-height: 2.2rem!important;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.animate-hidden {
  display: block;
  overflow: hidden;
}

/* From Lena Start*/
.container {
  width: 1320px;
  max-width: 90%;
  margin: 0 auto;
  @media (max-width: $mobile_l) {
    max-width: 90%;
  }
}
.container_big {
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: $mobile_l) {
  }
}
.typography--header {
  font-weight: 600;
  font-size: rem(60);
  line-height: rem(73);
  @media (max-width: $tablets) {
    font-size: rem(46);
    line-height: rem(49);
  }
  @media (max-width: $mobile_l) {
    font-size: rem(28);
    line-height: rem(34);
  }
  &:before {
  }
}

.typography--headersm {
  font-size: rem(40);
  line-height: rem(50);
  @media (max-width: $tablets) {
    font-size: rem(30);
    line-height: rem(35);
  }
  @media (max-width: $mobile_l) {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

.typography--text {
  font-size: rem(19);
  line-height: rem(23);
  @media (max-width: $tablets) {
    margin-bottom: 1.5rem !important;
  }
  @media (max-width: $mobile_l) {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
.desctop {
  @media (max-width: $mobile_l) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: $mobile_l) {
    display: block;
  }
}
