@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.content {
  position: relative;
  background: #000 url(../../../images/bg/bg_2.jpg) no-repeat center;
  background-size: cover;
  height: calc(100vh - 90px);
  @media (max-width: $mobile_l) {
    height: calc(100vh - 90px - 193px);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__top {
    font-family: $font_family;
    font-weight: 600;
    color: #fff;
    font-size: rem(60);
    line-height: rem(73);
    max-width: rem(1236);
    margin-bottom: rem(150);
    @media (max-width: $mobile_l) {
      max-width: 100%;
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-bottom: rem(0);
    }
  }
}
.bg {
  background: #000 url("../../../images/bg/bg_2.jpg") no-repeat center;
}
