@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.footer {
	height: 104px;
    display: flex;
    align-items: center;
	background-color: $blue;
	color: #fff;
	&__block {
		min-height: rem(74);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item {
		margin-right: 35px;
		font-weight:600;
		&:last-child {
			margin-right: rem(0);
		}
		&:first-child {
			font-weight:400;
        }
        a{
            color:#fff;
            text-decoration: none;
        }
	}
}